services:
  app:
    build:
      context: .
      target: runner
      args:
        - RELEASE_VERSION=dev-build
    ports:
      - 3000:3000
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=chrisjarling-com-dev
    volumes:
      - ./postgres-data:/var/lib/postgresql
    ports:
      - 5433:5432
