services:
  app:
    build:
      context: .
      target: runner
      args:
        - RELEASE_VERSION=dev-build
    ports:
      - 3000:3000
  website-next-db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=website-next-dev
    volumes:
      - ./website-next-postgres-data:/var/lib/postgresql
    ports:
      - 5433:5432
