.article {
  line-height: 1.6;
  letter-spacing: 0.03rem;
  color: #37474f;
}

.article p {
  margin-bottom: 2rem;
}

.article > figure {
  margin: 2rem auto;
}

.article > figure > img {
  border-radius: 0.5rem;
}
.article > figure > figcaption {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  color: #666;
  text-align: center;
}

.article blockquote {
  padding-left: 2rem;
  border-left: 2px solid #bbdefb;
  font-style: italic;
  opacity: 0.8;
}

.article h2,
.article h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  font-family: 'Josefin Sans', sans-serif;
}

.article h2 {
  font-size: 1.5rem;
}

.article h3 {
  font-size: 1.3rem;
}

.article a {
  color: #1e88e5;
  text-decoration: underline;
}

.article ul,
.article ol {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article li {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.article ul > li {
  list-style-type: disc;
}

.article ol > li {
  list-style-type: number;
}

.article pre {
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article pre > code {
  font-size: 0.8rem;
}

.article code:not(pre code) {
  background-color: #cfd8dc;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: normal;
  word-break: break-word;
}
