---
import Base from '../layouts/Base.astro';
---

<Base title="About - Chris Jarling">
	<h1 class="text-4xl font-bold mb-8">About</h1>
	<div class="prose prose-lg md:prose-base dark:prose-invert max-w-none">
		<p>I'm an Engineering Manager at <a href="https://gigs.com">Gigs</a></p>
		<p>I also am a husband and father of two girls.</p>
		<p>
			I was born in Germany, but recently moved to Denmark. If you want to figure out who I am,
			it will be easiest to head to the archives and read a bit. This will likely paint a more
			realistic picture than a description I write of myself to make me look a certain way.
		</p>
		<p>If you're interested about me professionally, please refer to my <a href="/cv">CV</a>.</p>

		<h2>Reaching out</h2>
		<p>To reach out or connect with me, choose one of the following:</p>
		<ul>
			<li>Write to <a href="mailto:hi@chrisjarling.com">hi@chrisjarling.com</a></li>
			<li>Find me on <a href="https://bsky.app/profile/chrisjarling.com">BlueSky</a></li>
			<li>Connect on <a href="https://www.linkedin.com/in/chrispop/">LinkedIn</a></li>
		</ul>
		<p>
			I also have accounts on just about every other social site on the internet, but may
			or may not be actively using it at any given point.
		</p>
	</div>
</Base>
