---
import Base from '../layouts/Base.astro';
---

<Base title="Blogroll - Chris Jarling">
	<h1 class="text-4xl font-bold mb-8">Blogroll</h1>
	<div class="prose prose-lg md:prose-base dark:prose-invert max-w-none">
		<p>Blogs I like to read.</p>

		<h2>Well Known</h2>
		<ul>
			<li><a href="https://www.benkuhn.net/">Ben Kuhn</a></li>
			<li><a href="https://fs.blog/blog/">Farnam Street</a></li>
			<li><a href="https://staysaasy.com/">Stay SaaSy</a></li>
			<li><a href="https://www.jefftk.com/">Jeff Kaufman</a></li>
			<li><a href="https://paulgraham.com/articles.html">Paul Graham</a></li>
			<li><a href="https://lethain.com/">Irrational Exuberance</a></li>
			<li><a href="https://www.theengineeringmanager.com/">The Engineering Manager</a></li>
		</ul>

		<h2>Friends</h2>
		<ul>
			<li><a href="https://timomeh.de/">Timo Mämecke</a></li>
			<li><a href="https://osamaqarem.com/">Osama Qarem</a></li>
			<li><a href="https://diekmeier.de/">Daniel Diekmeier</a></li>
		</ul>
	</div>
</Base>
