---
import Base from '../layouts/Base.astro';
---

<Base title="Books - Chris Jarling">
	<h1 class="text-4xl font-bold mb-8">Books</h1>
	<div class="prose dark:prose-invert max-w-none">
		<p>A list of books I want to or have read</p>
		<ul>
			<li>Atlas Shrugged - Ayn Rand</li>
		</ul>
	</div>
</Base>
