name: main
on:
  push:
    branches: [main]
  workflow_call:

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
  migrate:
    uses: ./.github/workflows/migrate.yml
    secrets: inherit

  publish-release:
    runs-on: ubuntu-24.04-arm
    needs: [ci, migrate]
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: plsr/website-next
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      WEBSITE_SERVICE_ID: ${{ secrets.RAILWAY_WEBSITE_SERVICE_ID }}
    concurrency:
      group: deploy-production
    environment:
      name: production
      url: https://chrisjarling.com
    steps:
      - name: install railway cli
        run: bash <(curl -fsSL cli.new)
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: /tmp
      - name: Download temporary docker image 
        run: docker load -i /tmp/docker-image.tar
      - name: publish
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
      - name: release
        run: railway redeploy -s ${{ env.WEBSITE_SERVICE_ID }} -y
